<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Centaur Drawings Playground</title>
</head>
<style>
    .one{
        width:100px;
        margin-left: 5px;
        margin-top: 5px;
    }
    a{
        font-size: 14px;
        font-family: monospace;
    }
</style>
<body>
    <div class="one">
        <a href="./drawing_panel">drawing_panel</a>
        <a href="./nearest-neighbor/">nearest_neighbor/</a>
        <a href="./variation-maker/">variation_maker/</a>
        <a href="./pictomatrix/">pictomatrix/</a>
        <a href="./pictomatrix-nn/">pictomatrix_wide/</a>
        <a href="./pictomatrix-wide/">pictomatrix_nn/</a>
    </div>
</body>
</html>