<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wide >>> Small Multiples Variation Matrix</title>

    <script src="{{ url_for('static', filename='js/lib/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/p5.svg.js') }}"></script>
<!--    <script src="https://unpkg.com/p5.js-svg@1.3.1"></script>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="utf-8" />
</head>

<body>
    <main>
    </main>
    <script src="{{ url_for('static', filename='js/pictomatrix2.js') }}"></script>
</body>

</html>