<!-- 
    
Centaur Drawings || 2023.

#Authors:
    Uroš Krčadinac | krcadinac.com 
    Andrej Alfirevic | xladn0.rf.gd 
    Zeljko Petrovic | instagram@just.blue.dot

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses.

 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wide >>> Small Multiples Variation Matrix</title>

    <script src="{{ url_for('static', filename='js/lib/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/p5.svg.js') }}"></script>
<!--    <script src="https://unpkg.com/p5.js-svg@1.3.1"></script>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="utf-8" />
</head>

<body>
    <main>
    </main>
    <script src="{{ url_for('static', filename='js/pictomatrix2.js') }}"></script>
</body>

</html>