<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebGen</title>

    <script src="{{ url_for('static', filename='js/lib/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/p5.svg.js') }}"></script>
<!--    <script src="https://unpkg.com/p5.js-svg@1.3.1"></script>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="utf-8" />
</head>

<body>
    <a href="https://colab.research.google.com/drive/1fpWHcGV-DRMSIYqHqe1MiPp1HF9359cV?authuser=8#scrollTo=cip60pU6dnTe">./Flask App</a>>
    <main>
    </main>
</body>

</html>